<html>
    <body>
        <div style="display: none; max-height:0; overflow: hidden;"><b>{{ code }}</b> is your activation code</div>
        Hi <b>{{ username }}</b>,
        <br/><br/><br/>
        To activate your account click the <a href="{{ url }}" mc:disable-tracking class="es-button" target="_blank">link below</a>!
        <br/><br/>
        Alternatively, please use the code <b>{{ code }}</b> in the activation page.
        <br/><br/>
        <a href="{{ url }}" mc:disable-tracking class="es-button" target="_blank">{{ url }}</a>
    </body>
</html>