<html>
    <body>
    <div style="display: none; max-height:0; overflow: hidden;"><b>{{ code }}</b> is your passwordless login code</div>
    Hi, <b>{{ username }}</b>
    <br/><br/><br/>
    To access your account without a password click the <a href="{{ url }}" mc:disable-tracking class="es-button" target="_blank">link below</a>!
    <br/><br/>
    Alternatively, please use the code <b>{{ code }}</b>.
    <br/><br/>
    <a href="{{ url }}" mc:disable-tracking class="es-button" target="_blank">{{ url }}</a>
    </body>
</html>