<!DOCTYPE html>
<html>
<head>
    <title>Minimalism Authentication and Authorisation</title>
    <script>var baseUrl = '{{ links.home }}';</script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- App styles -->
    <link rel="stylesheet" href="{{ links.home }}vendor/carlonicora/minimalism-service-auth/src/Views/Styles/style.css">
</head>
<body class="fixed-navbar">

<div class="color-line"></div>

{{ block('content') }}

<!-- Vendor scripts -->
<script src="{{ links.home }}vendor/carlonicora/minimalism-service-auth/src/Views/Scripts/jquery.min.js"></script>

{% if block('footer') is defined %}
    {{ block('footer')|raw }}
{% endif %}

</body>
</html>