<form method="post" action="{{ links.home }}login" id="loginForm">
    <input type="hidden" name="userId" value="{{ data.id }}"/>
    <label for="password">password</label>
    <input type="password" name="password" id="password">
    <button type="submit">Login</button>
</form>
<a href="{{ links.home }}/forgot">forgot your password?</a><br/>
<form method="post" action="{{ links.home }}login" id="sendCodeForm">
    <input type="hidden" name="userId" value="{{ data.id }}"/>
    <input type="hidden" name="resendCode" value="true"/>
    <button type="submit">login with code instead</button>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $("#loginForm").submit(function (e) {
            e.preventDefault();

            var postData = $(this).serializeArray();

            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                enctype: 'multipart/form-data',
                data: postData,
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    error = JSON.parse(XMLHttpRequest.responseText);
                    alert(error.errors[0].title);
                },
                success: function (result) {
                    window.location.replace(result.links.redirect);
                }
            });
        });

        $("#sendCodeForm").submit(function (e) {
            e.preventDefault();

            var postData = $(this).serializeArray();

            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                enctype: 'multipart/form-data',
                data: postData,
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    error = JSON.parse(XMLHttpRequest.responseText);
                    alert(error.errors[0].title);
                },
                success: function (result) {
                    window.location.replace(result.links.redirect);
                }
            });
        });
    });
</script>